<div class="ui raised very padded text center aligned container segment">
<ul>
<% @pledges.each do |pledge| %>
	<li><%= pledge.timestamp %></li>
	<li><%= pledge.amount %></li>
	
	<p>--------------------------------------------</p>
<% end %>
</ul>
</div>