<div class="ui raised very padded text left aligned container segment">
<h1>User Profile</h1>
<strong>Name: <%= @user.name %></strong><br>
Age: <%= @user.age %>
</div>

<!-- user pledges, projects, activity feed? -->