<div class="ui raised very padded text center aligned container segment">
	<div class="ui one column doubling stackable grid container">
		<div class="column">	
<p>This is the Module 2 Final Project for the Flatiron School covering CRUD, associations, authentication, and forms, as well as other rails helpers.</p>
		
		</div>
		<div class="column">

		<p style="text-align:center;">Made with love by Max. </p>
		<p style="text-align:center;">Flatiron School Student. 2018. </p>
		</div>
	</div>	
</div>