<!-- different nav, compare and choose one -->
<div class="ui menu">
  <div class="header item">
    P2P$
  </div>
  <a class="item active">
    About Us
  </a>
  <%= link_to pledge_path, :class => "item" %>
    Pledges
  </a>
  <a class="item">
    Projects
  </a>
</div>